<!DOCTYPE html>
<html lang="ja">

<head th:replace="~{fragments/layout :: head('土壇場でキャンセルが来ても安心！ドタチャン！')}">
</head>

<body>
    <header>
        <ul class="header">
            <li><a href="/register">会員登録</a></li>
            <li><a href="/storeLogin">店舗ログイン</a></li>
            <li><a href="/login">一般会員ログイン</a></li>
        </ul>
    </header>
    <h1><a href="/home">ドタチャン</a></h1>

    <h2>突発セール情報</h2>
    <p th:if="${#lists.isEmpty(SuddenSale)}"> 現在突発的なセールは開催されていません</p>
    <table>
        <tr>
            <th>SuddenSale Name</th>
        </tr>
        <!-- <tr th:each="SuddenSale : ${SuddenSale}" >
            <td><a th:href="@{/store_detail/{id}(id=${SuddenSale.store_id})}" th:text="${SuddenSale.name}">現在セールは開催されていません</a></td> 
        </tr>
        <tr th:each="SStores : ${SStores}" >
            <td><a th:href="@{/store_detail/{id}(id=${SStores.id})}" th:text="${SStores.name}">noname</a></td>
        </tr> -->
        <tr th:each="SuddenSale : ${SuddenSale}" >
            <td><a th:href="@{/store_detail/{id}(id=${SuddenSale.id})}" th:text="${SuddenSale.name}">現在セールは開催されていません</a></td> 
            <td><a th:href="@{/store_detail/{id}(id=${SuddenSale.id})}" th:text="${SuddenSale.contents}">noname</a></td> 
        </tr>
    </table>

    <!-- キーワード検索 -->
    <form action="/keywordSerch" method="get">
        <input type="text" id="keyword" name="keyword" placeholder="キーワード検索">
        <button type="submit">検索</button>
    </form>

    <!-- ジャンル検索 -->
    <form action="/genreSerch" method="get">
        <select name="genreSerch" id="genreSerch">
            <option value="">選択してください</option>
            <option value="焼き鳥">焼き鳥</option>
            <option value="肉">肉</option>
            <option value="海鮮">海鮮</option>
            <option value="イタリアン">イタリアン</option>
            <option value="ハンバーガー">ハンバーガー</option>
            <option value="野菜">野菜</option>
        </select>
        <button type="submit">検索</button>
    </form>

    <!-- 広告 -->
    <div th:each="Storead : ${Storead}">
        <a th:href="@{/store_detail/{id}(id=${Storead.id})}" th:text="${Storead.name}"></a>
    </div>


    <h2>恒常セール情報</h2>
    <p th:if="${#lists.isEmpty(Sale)}"> 現在セールは開催されていません</p>
    <table>
        <tr>
            <th>Sale Name</th>
        </tr>
        <tr th:each="Sale : ${Sale}" >
            <td><a th:href="@{/store_detail/{id}(id=${Sale.id})}" th:text="${Sale.name}">現在セールは開催されていません</a></td> 
            <td><a th:href="@{/store_detail/{id}(id=${Sale.id})}" th:text="${Sale.contents}">noname</a></td> 
        </tr>
        <!-- <tr th:each="Stores : ${Stores}" >
            <td><a th:href="@{/store_detail/{id}(id=${Stores.id})}" th:text="${Stores.name}">noname</a></td>
        </tr> -->
    </table>

</body>

</html>