<!DOCTYPE html>
<html lang="ja">

<head th:replace="~{fragments/layout :: head('土壇場でキャンセルが来ても安心！ドタチャン！')}">
</head>

<body>
    <header>
        <ul class="header">
            <li><a href="/register">会員登録</a></li>
            <li><a href="/storeLogin">店舗ログイン</a></li>
            <li><a href="/login">一般会員ログイン</a></li>
        </ul>
    </header>
    <h1><a href="/home">ドタチャン</a></h1>

    <h2>突発セール情報</h2>
    <p th:if="${#lists.isEmpty(SuddenSale)}"> 現在突発的なセールは開催されていません</p>
    <table>
        <tr>
            <th>SuddenSale Name</th>
            <!-- <th>Contents</th> -->
        </tr>
        <tr th:each="SuddenSale : ${SuddenSale}" >
            <td><a th:href="@{/home/{id}(id=${SuddenSale.id})}" th:text="${SuddenSale.suddensaleName}">現在セールは開催されていません</a></td> 
            <td><a href="@{/home/{id}(id=${SuddenSale.id})}" th:text="${SuddenSale.storeName}"></a></td>
            <!-- <td><span th:text="${blog.notes}">473</span></td> -->
        </tr>
    </table>

    <form action="/keywordSerch" method="get">
        <input type="text" id="keyword" name="keyword" placeholder="キーワード検索">
        <button type="submit">検索</button>
    </form>
    <form action="/genreSerch" method="get">
        <select name="genreSerch" id="genreSerch">
            <option value="">選択してください</option>
            <option value="焼き鳥">焼き鳥</option>
            <option value="肉">肉</option>
            <option value="海鮮">海鮮</option>
            <option value="イタリアン">イタリアン</option>
            <option value="ハンバーガー">ハンバーガー</option>
            <option value="野菜">野菜</option>
        </select>
        <button type="submit">検索</button>
    </form>

    <h2>恒常セール情報</h2>
    <p th:if="${#lists.isEmpty(Sale)}"> 現在セールは開催されていません</p>
    <table>
        <tr>
            <th>Sale Name</th>
            <!-- <th>Contents</th> -->
        </tr>
        <tr th:each="Sale : ${Sale}" >
            <td><a th:href="@{/home/{id}(id=${Sale.id})}" th:text="${Sale.saleName}">現在セールは開催されていません</a></td>
            <td><a th:href="@{/home/{id}(id=${Sale.id})}" th:text="${Sale.storeName}"></a></td>
            <!-- <td><span th:text="${blog.notes}">473</span></td> -->
        </tr>
    </table>

</body>

</html>