<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
    <!-- <div th:replace="~{header :: common-header}"></div> -->//一時的に消してるだけ
    <h3>アカウント情報</h3>
    <div th:each="store : ${Store}">
        <p th:text="${Store.email}">メールアドレス</p>
        <!-- <input type="text" name="title" required placeholder="メールアドレス"><br> -->
    </div>



    <form th:action="@{/store/{id}(id=${id})}" method="post">
        <h3>店舗詳細画面</h3>
        <a>必須項目</a><br>
        <input type="text" name="title" placeholder="店舗名" pattern=".*\S.*" title="店舗名を入力してください"><br>
        <input type="text" name="title" placeholder="店舗住所 " pattern=".*\S.*" title="店舗住所を入力してください"><br>
        <input type="text" name="title" placeholder="店舗電話番号" pattern=".*\S.*" title="店舗電話番号を入力してください"><br>
        <input type="text" name="title" placeholder="支払い方法" pattern=".*\S.*" title="支払い方法を入力してください"><br>
        <input type="text" name="title" placeholder="ジャンル" pattern=".*\S.*" title="ジャンルを入力してください"><br>
        <a>任意項目</a><br>
        <input type="text" name="title" placeholder="価格帯"><br>
        <input type="text" name="title" placeholder="自由記述欄"><br>
        <h3>クーポン登録</h3>
        <input type="text" name="title" placeholder="クーポン内容"><br>


        <button type="submit">保存</button>
    </form>
    <form th:action="@{/sale/{id}(id=${id})}" method="post">
        <h3>恒常セール</h3>
        <input type="text" name="title" required placeholder="恒常セール名">
        <span th:errors="*{title}" style="color: #f82222;"> </span><br>
        <input type="text" name="title" required placeholder="恒常セール内容"><br>
        <input type="text" name="title" required placeholder="恒常セール名"><br>
        <input type="text" name="title" required placeholder="恒常セール内容"><br>

        <button type="submit">保存</button>
    </form>


</body>

</html>