<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{header/layout :: head('店舗サブスク詳細')}">
  <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body class="page-subscribe">

    <div class="layout">
        <div class="left">
            <h3>店舗様へ</h3>
            <p>急なキャンセル、雨の日の売れ残り、仕込みすぎ……
                諦めていた「その赤字」、今すぐその場で利益に変えませんか？

                突発的な空席や余剰在庫を、近隣の消費者にリアルタイムで告知・販売できる。
                飲食店・食品店のための“ドタキャン・売れ残り救済”システム。
            </p>
            <h3>「ドタチャン！土壇場キャンセルチャンスセール」加盟店募集中！</h3>
            <h4>ご登録はこちらから 0120-xxxx-xxxxまで</h4>
        </div>


    </div>
</body>

</html>