<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <div class = login-form>  
  <h2>一般会員の方</h2>

  <form action="/userlogin" method="post">
    <p><label for="mail">メールアドレス:</label>
    <input type="text" id="mail" name="mail"></p>

    <p><label for="password">パスワード:</label>
    <input type="password" id="password" name="password"></p>
<!-- エラーメッセージ -->
    <p th:if="${errorMessage}" th:text="${errorMessage}"></p> 
    
    <p>下記に記載のプライバシーポリシー・規約に同意のうえ以下の「ログイン」を押してください。</p>
    <button type="submit">ログイン</button>
  </form>

    <ul>
      <li><a href="/privacy-policy">プライバシーポリシー</a></li>
      <li><a href="/argreement">規約</a></li>
    </ul>
  </div>
  
  <div class = login-form>
  <h2>まだ会員登録がお済でない方</h2>
    <p href="/register" class="new-button">新規会員登録へ</p>
  </div>

</body>
</html>