<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="head(title)">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=LINE+Seed+JP&family=Oswald:wght@200..700&family=Playwrite+DE+SAS:wght@100..400&family=Zen+Kaku+Gothic+Antique&family=Zen+Kurenaido&family=Zen+Maru+Gothic&display=swap"
        rel="stylesheet">


    <div class="site-header">
        <!-- 共通部分 -->
        <div class="title">
            <a class="site-name" href="/home"><img th:src="@{/img/ドタチャンロゴ.jpg}" alt="ロゴ"></a>
        </div>


        <p>博多の飲食店・小売店・店舗・セール情報</p>
        <nav class="header-button">
            <!-- 未ログインの場合 -->
            <button th:if="${session.storeEmail == null && session.userEmail == null}" class="button"
                onclick="location.href='/register'">会員登録</button>
            <button th:if="${session.storeEmail == null && session.userEmail == null}" class="button"
                onclick="location.href='/storeLogin'">店舗ログイン</button>
            <button th:if="${session.storeEmail == null && session.userEmail == null}" class="button"
                onclick="location.href='/userLogin'">一般ユーザーログイン</button>

            <!-- 一般ユーザーでログインしている場合 -->
            <button th:if="${session.userEmail != null}" class="button" onclick="location.href='/mypage'">マイページ</button>
            <button th:if="${session.userEmail != null}" class="button" onclick="location.href='/logout'">ログアウト</button>

            <!-- 店舗ユーザーでログインしている場合 -->
            <button th:if="${session.storeEmail != null}" class="button"
                th:onclick="|location.href='@{/saleedit/{id}(id=${Storeid})}'|">突発セール編集</button>
            <button th:if="${session.storeEmail != null}" class="button"
                th:onclick="|location.href='@{/mystore/{id}(id=${Storeid})}'|">マイページ・クーポン編集</button>
            <button th:if="${session.storeEmail != null}" class="button"
                onclick="location.href='/logout'">ログアウト</button>
        </nav>
    </div>
</head>

<body>
</body>

</html>