<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="layout3">
        <p>土壇場チャンスセール</p>
        <h2>ドタチャン</h2>
        <p>博多の飲食店・小売店・店舗・セール情報</p>
        <button class="button" onclick="location.href='/toppatu'">突発セール編集</button>
        <button class="button" onclick="location.href='/mypage_coupon'">マイページ・クーポン編集</button>
        <button class="button" onclick="location.href='/logout'">ログアウト</button>
    </div>
</body>

</html>