<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="css/404.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=LINE+Seed+JP&family=Oswald:wght@200..700&family=Playwrite+DE+SAS:wght@100..400&family=Zen+Kaku+Gothic+Antique&family=Zen+Kurenaido&family=Zen+Maru+Gothic&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>

<body>
    
    <h1 class="E404">4 0 4</h1>
    <h2>存在しないページです</h2>
    <button type="button" onclick="history.back()" class="button">戻る</button>
</body>

</html>