<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head('edit')}">
</head>

<body>
    <form th:action="@{/suddensalereg/{id}(id=${id})}" method="post">
        <h3>突発セール登録</h3>
        <input type="text" id="name" name="name" required placeholder="突発セール名"><br>
        <input type="text" id="contents" name="contents" required placeholder="内容"><br>
        <button type="submit">登録</button>
    </form>
    <h3>開催中の突発セール</h3>


    <table>
        <tr>
            <th>セール名</th>
            <th>完了/未完了</th>
        </tr>
        <tr th:each="suddensale : ${suddensale}">
            <td th:text="${suddensale.name}">こころ</td>
            <form th:action="@{/saleedit/switch/{id}(id=${suddensale.id})}" method="post" style="display:inline;">
                <input type="hidden" id ="id" name="id" th:value="${suddensale.id}" />
                <button type="submit">完了</button>
            </form>
        </tr>
    </table>
    <!-- <div th:each="suddensale: ${suddensale}">
        <p th:text="${suddensale.name}">セール名</p>
        <form th:action="/suddensale/switch" method="post" style="display:inline;">
            <input type="hidden" name="id" th:value="${suddensale.id}" />
            <button type="submit">完了</button>
        </form>
    </div> -->
</body>